exportPattern("^[[:alpha:]]+")
S3method(plot_cv_pair_correlation, cv4abc)
S3method(plot_cv_recovery, cv4abc)
S3method(plot_parameter_posterior, abc)
S3method(summarise_parameter_posterior, abc)
S3method(print, multieam_simulation_config)
S3method(print, multieam_summarise_by_spec)
S3method("+", multieam_summarise_by_tbl)
S3method("+", multieam_summarise_by_spec)
useDynLib(multieam)
importFrom(Rcpp, sourceCpp)
